<nav>
    <div id="sidebar" class="sidebar no-select">
        <a id="sidebar-burger" class="button" href="#">
            <box-icon type="regular" name="menu"></box-icon>
            <span class="label">Teletype</span>
        </a>
        <a id="sidebar-portfolio" class="button" href="#">
            <box-icon type="regular" name="pie-chart-alt-2"></box-icon>
            <span class="label">Portfolio</span>
        </a>
        <a id="sidebar-trade" class="button" href="#">
            <box-icon type="regular" name="line-chart"></box-icon>
            <span class="label">Trade</span>
        </a>
        <div class="dropdown">
            <div id="sidebar-asset" class="switch">
                <box-icon type="regular" name="coin"></box-icon>
                <span class="label">Asset</span>
            </div>
            <div class="select">
                <a id="sidebar-asset-view" class="option" href="#">
                    <box-icon type="regular" name="folder-open"></box-icon>
                    <span class="label">View</span>
                </a>
                <a id="sidebar-asset-create" class="option" href="#">
                    <box-icon type="solid" name="file-plus"></box-icon>
                    <span class="label">Create</span>
                </a>
                <a id="sidebar-asset-delete" class="option" href="#">
                    <box-icon type="regular" name="trash"></box-icon>
                    <span class="label">Delete</span>
                </a>
            </div>
        </div>
        <div class="dropdown">
            <div id="sidebar-broker" class="switch">
                <box-icon type="regular" name="store"></box-icon>
                <span class="label">Broker</span>
            </div>
            <div class="select">
                <a id="sidebar-broker-view" class="option" href="#">
                    <box-icon type="regular" name="folder-open"></box-icon>
                    <span class="label">View</span>
                </a>
                <a id="sidebar-broker-create" class="option" href="#">
                    <box-icon type="solid" name="file-plus"></box-icon>
                    <span class="label">Create</span>
                </a>
                <a id="sidebar-broker-delete" class="option" href="#">
                    <box-icon type="regular" name="trash"></box-icon>
                    <span class="label">Delete</span>
                </a>
            </div>
        </div>
        <div class="dropdown">
            <div id="sidebar-csv" class="switch">
                <box-icon type="regular" name="file"></box-icon>
                <span class="label">CSV</span>
            </div>
            <div class="select">
                <a id="sidebar-csv-import" class="option" href="#">
                    <box-icon type="regular" name="upload"></box-icon>
                    <span class="label">Import</span>
                </a>
                <a id="sidebar-csv-export" class="option" href="#">
                    <box-icon type="regular" name="download"></box-icon>
                    <span class="label">Export</span>
                </a>
            </div>
        </div>
        <a id="sidebar-tool" class="button" href="#">
            <box-icon type="regular" name="wrench"></box-icon>
            <span class="label">Tools</span>
        </a>
        <div class="dropdown">
            <div id="sidebar-theme" class="switch">
                <box-icon type="regular" name="certification"></box-icon>
                <span class="label">Theme</span>
            </div>
            <div class="select">
                <a id="sidebar-theme-light" class="option" href="#">
                    <box-icon type="regular" name="sun"></box-icon>
                    <span class="label">Light</span>
                </a>
                <a id="sidebar-theme-dark" class="option" href="#">
                    <box-icon type="regular" name="moon"></box-icon>
                    <span class="label">Dark</span>
                </a>
            </div>
        </div>
        <a id="sidebar-setting" class="button" href="#">
            <box-icon type="regular" name="slider"></box-icon>
            <span class="label">Settings</span>
        </a>
        <a id="sidebar-help" class="button" href="#">
            <box-icon type="regular" name="help-circle"></box-icon>
            <span class="label">Help</span>
        </a>
        <a id="sidebar-logout" class="button" href="#">
            <box-icon type="regular" name="log-out-circle"></box-icon>
            <span class="label">Logout</span>
        </a>
    </div>
<nav>
