nav .sidebar {
    bottom: 0;
    border-right: 1px solid lightgray;
    display: flex;
    flex-flow: column nowrap;
    left: 0;
    position: absolute;
    top: 0;
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

nav .sidebar-collapse {
   width: 60px; 
}

nav .sidebar .button {
    align-items: center;
    color: var(--color);
    flex: 0 1 auto;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    text-decoration: none;
    transition: all var(--timeout) ease-in-out;
}

nav .sidebar .button:hover {
    background-color: var(--hover-color);
}

nav .sidebar .button:active {
    background-color: var(--active-color);
    transform: scale(var(--scale-focus));
}

nav .sidebar .button:focus, {
    background-color: var(--focus-color);
}

nav .sidebar .button box-icon {
    flex: 1 1 25%;
}

nav .sidebar .button .label {
    flex: 1 1 75%;
    padding: 5px;
}

nav .sidebar .group {
    align-items: center;
    flex: 0 1 auto;
    justify-content: center;
}

nav .sidebar .group .display {
    background-color: #f0f0f0;
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
}

nav .sidebar .group .hide {
    display: none;
}
